<section class="gallery">
    <ul>
        <!-- place for *ngIf  -->
        <!-- place for *ngFor -->
        <!-- <p [routerLink]="['/paintings-list', painting._id]"></p> -->
        <li> 
            <img src="https://th.bing.com/th/id/OIP.QDFqNVELkHOEpESKZEcZ0QHaKB?pid=ImgDet&rs=1" alt="">
            <p>title</p>
            <p>Author</p>
        </li>
        <li>
            <img src="https://th.bing.com/th/id/OIP.L-LsevHljJAljpiREyHT8wHaE8?pid=ImgDet&rs=1" alt="">
        </li>
        <li>
            <img src="https://th.bing.com/th/id/R.cef289fdfb06974a541f97f17dd887b5?rik=Xi38D9YF%2b832CA&pid=ImgRaw&r=0" alt="">
        </li>
        <li>
            <img src="https://th.bing.com/th/id/R.64cbbe4e08e7414be6e6009650edc613?rik=aCb7Uj3%2fPE69%2bQ&pid=ImgRaw&r=0" alt="">
        </li>
        <li>
            <img src="https://th.bing.com/th/id/R.87766cfe4e83f52163c8391bd88dd81b?rik=Jo4KBNTsTtXV2A&pid=ImgRaw&r=0" alt="">
        </li>
        <li>
            <img src="https://th.bing.com/th/id/OIP.Re4Wa4q_tassUrAWk9SUggHaE8?pid=ImgDet&rs=1" alt="">
        </li>
        <li>
            <img src="https://th.bing.com/th/id/R.174ea1b420f99b7f1043a698dde5616e?rik=XlkYVrK1kfwsgw&pid=ImgRaw&r=0" alt="">
        </li>
        <li>
            <img src="https://i.pinimg.com/originals/a1/51/17/a15117220746d32eaf04e7b4f7219581.jpg" alt="">
        </li>
        <li>
            <img src="https://th.bing.com/th/id/R.bd9b94ef8144a83792e3e088ce2a868f?rik=Mq1kc%2bqf%2f2%2bJ9g&pid=ImgRaw&r=0" alt="">
        </li>
    </ul>
    <!-- Place for <div *ngIf="!items"> Loading.... or there are no painting - be the forst one to add </div> -->

</section>


