<section class="gallery">
    <ul>
        <!-- place for *ngIf  -->
        <!-- place for *ngFor -->
        <li> 
            <img src="./images/picture1.jpg" alt="">
            <p>title</p>
            <p>Author</p>
        </li>
        <li>
            <img src="./images/picture2.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture3.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture4.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture5.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture6.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture7.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture8.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture9.jpg" alt="">
        </li>
    </ul>
    <!-- Place for <div *ngIf="!items"> Loading.... or there are no painting - be the forst one to add </div> -->
</section>
<section class="gallery">
    <ul>
        <li>
            <img src="./images/picture1.jpg" alt="">
            <p>title</p>
            <p>Author</p>
        </li>
        <li>
            <img src="./images/picture2.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture3.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture4.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture5.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture6.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture7.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture8.jpg" alt="">
        </li>
        <li>
            <img src="./images/picture9.jpg" alt="">
        </li>
    </ul>
</section>
